*{
	box-sizing: border-box;
}

.navbar{
	padding: 2em;
	background-color: #FFF;
}

main{
	padding-top: 7em;
  color: #FFF;
}

#car{
	background-image: url(../images/taxi.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 50em;
	width: 100%;
	background-position: center 92%;
  
}

.logIn{
  padding-top: 2em;
  padding-left: 3em;
  padding-bottom: 2em;
  background-color: #FFC107;
  float: right;
  margin-top: 13em;


}

.logIn h1{
  line-height: 0.9em;
}

.logIn h3{
  display: inline-block;
  padding-right: 0.5em;
}

.logIn h4{
  display: inline-block;
  margin-left: 3em;
  margin-right: 3em;
}

.logIn img{
  height: 1.5em;
  margin-bottom: 0.6em;
}

.logIn button{
  margin-top: 1em;
  border: none;
}

.line{
  display: inline-block;
  border-bottom: 1px solid #FFF;
  width: 8em;
}

/*
clase para contedores de info
*/
.orange{
  background-color: #FFC107;
  height: 38em;
  width: 100%;
}

/*
estilos a contenedor foto iphone
*/
.phone{
  margin-top: 3em;
  padding: 2em;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}

.phone h2{
  display: inline-block;
  margin-bottom: 1em;
}

.phone p{
  font-size: 1.5em;
  margin-bottom: 1em;
}

.phone img{
  padding-left: 3em;
}

.phone h3{
  text-align: center;
}
/*
condiciones
*/
@media(min-width: 320px) and (max-width: 800px){
  .phone{
    margin-left: 1em;
    border-left: 1px solid #FFF;
  }
  .phone img{
    padding-left: 0;
  }
  .orange{
    height: auto;
  }
}