/*
reset de navegador
*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
modificar navbar de bootstrap
*/
.navbar{
  padding: 2em;
  background-color: #FFF;
}

/*
bajar el contenido central ya que nav esta fijo, dar color de letra a todo el contenido
*/
main{
  padding-top: 7em;
  color: #FFF;
}

/*
dar imagen de fondo a primera sección
*/
#car{
	background-image: url(../images/taxi.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 50em;
	width: 100%;
	background-position: center 92%;
  
}

/*contenedor de sección de logeo*/
.logIn{
  padding-top: 2em;
  padding-left: 3em;
  padding-bottom: 2em;
  background-color: #FFC107;
  float: right;
  margin-top: 13em;
}

/*
estilos a letras
*/
.logIn h1{
  line-height: 0.9em;
}

.logIn h3{
  display: inline-block;
  padding-right: 0.5em;
}

.logIn h4{
  display: inline-block;
  margin-left: 3em;
  margin-right: 3em;
}

/*
estilo a logo
*/
.logIn img{
  height: 1.5em;
  margin-bottom: 0.6em;
}

/*
estilo a boton de logeo
*/
.logIn button{
  margin-top: 1em;
  border: none;
}

/*
lineas decorativas
*/
.line{
  display: inline-block;
  border-bottom: 1px solid #FFF;
  width: 8em;
}

/*
clase para contedores de info
*/
.orange{
  background-color: #FFC107;
  height: auto;
  width: 100%;
}

/*
estilos a contenedor foto iphone
*/
.phone{
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}

/*
estilos a textos en contenedor de telefono
*/
.phone h2{
  display: inline-block;
  margin-bottom: 1em;
}

.phone p{
  font-size: 1.5em;
  margin-bottom: 1em;
}

.phone h3{
  text-align: center;
}

/*
moviendo la imagen del telefono
*/
.phone img{
  padding-left: 3em;
}

/*
dando imagen de fondo a contenedor de conductor
*/
#driver{
  background-image: url(../images/conduce.jpg);
  height: 31em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

/*
estilos, fondo opaco a seccion de texto en area conductor
*/
#driverTxt{
  padding-left: 3em;
  padding-top: 7em;
  height: 31em;
  float: right;
  background-color: rgba(0000,0,0,0.5);
  padding-right: 0;
}

/*
tamaño fuente seccion de conductor
*/
#driverTxt p, #map p{
  font-size: 1.4em;
}

/*
estilos a boton de conductor
*/
#driverTxt button{
  border: none;
  background-color: #FFC107;
  color: #FFF;
}

/*
estilos a texto en contenedor del mapa
*/
#mapTxt{
  padding-top: 3em;
  padding-left: 7em;
  line-height: 3em;
  padding-bottom: 5em;
}

#mapTxt h2{
  font-weight: bold;
}

/*
estilos a input de contenedor mapa
*/
#mapTxt input{
  margin-left: 1em;
  width: 20em;
  border-radius: 0.5em;
  border: 1px solid #FFF;
  background-color: #FFC107
}

#destiny{
  padding-top: 3em;
}

/*
estilos a botón del contenedor del mapa
*/
#map button{
  margin-top: 3em;
  margin-left: 5em;
  border: none;
  font-weight: bolder;
  padding-left: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 2em;
}

/*cambiar color a texto dentro del input*/
input::-webkit-input-placeholder {  
  color: white; 
  padding-left: 1em;
} 

/*
posición del mapa
*/
#map{
  padding-top: 3em;
}

/*
tamaño mapa, linea exterior
*/
iframe{
  padding: 0.5em;
  border: 1px solid #FFF;
  height: 34em;
  width: 80%;
  margin-bottom: 2.5em;
}

/*
color de pie de pagina, ancho, ubicacion
*/
footer{
  background-color: #2B2B2B;
  background-size: 100%;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 4em;
  color: #FFF;
}

/*
estilos a elementos del pie de pagina
*/
#links{
  padding-top: 2em;
}

#social{
  padding-top: 20%;
}

#socialRight{
  padding-bottom: 3em;
}
/*
estilo a iconos del footer
*/
.icon{
  color: #FFF;
  margin: 0.5em;
}

/*
dar espacio a imagenes de descarga del footer
*/
.download{
  margin-bottom: 2em;
}
/*
estilo a links del footer
*/
footer a{
  text-decoration: none;
  color: #FFF;
  font-size: 1.2em;
}

.submit{
  background-color: #FFC107;
}

#login_username{
  margin-bottom: 2em;
}

#rememberMe{
  color: #000;
}
/*
condiciones para menor resolucion (xs y sm)
*/
@media(min-width: 320px) and (max-width: 800px){
  .phone{
    padding-left: 0.5em;
    margin-left: 1em;
    border-left: 1px solid #FFF;
  }
  .phone img{
    padding-left: 0;
    width: ;
  }
  iframe{
    height: 30em;
    width: 100%;
  }
  #mapTxt{
    padding-left: 3em;
  }
  .icon{
    margin:0.1em;
  }
}

